<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Mutable-->
    <add key="RabbitMqUri" value="rabbitmq://localhost/" />
    <add key="RabbitMqUsername" value="guest" />
    <add key="RabbitMqPassword" value="guest" />
    <add key="CloudPlus.IdentityServerEndpoint" value="http://localhost:57161/cloudplus" />
    <add key="ImageServerLogoPath" value="http://localhost:63145/CloudPlus.Api/Static/Images" />
    <add key="ARecordIp" value="242.123.147.159" />
    <add key="SmtpAddressFrom" value="vddevteam@gmail.com" />
    <add key="SmtpClientHost" value="smtp.gmail.com" />
    <add key="SmtpUsername" value="vddevteam@gmail.com" />
    <add key="SmtpPassword" value="p@ssw0rd!" />
    <add key="SmtpEnableSSL" value="true" />
    <add key="SmtpAuthenticate" value="true" />
    <!--End of mutable values-->

  </appSettings>
  <connectionStrings>
    <!--<add name="CloudPlusAuthDb" connectionString="server=.\SQLEXPRESS;initial catalog=CloudPlusAuth;trusted_connection=yes;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CloudPlusDb" connectionString="data source=.\SQLEXPRESS;initial catalog=CloudPlusDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="CloudPlusAuthDb" connectionString="server=VMROOT002STG4.cloudplusservices.stg;database=CloudPlusAuth;User Id=cloudplusv2; password=DhK6t7D49mVXjM3r;" providerName="System.Data.SqlClient" />
    <add name="CloudPlusDb" connectionString="server=VMROOT002STG4.cloudplusservices.stg;database=CloudPlusDb;User Id=cloudplusv2; password=DhK6t7D49mVXjM3r; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\CloudPlusLogs\NotificationService\NotificationServiceLog_" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
<!--    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">-->
<!--      <rootUrl value="https://logs-01.loggly.com/" />-->
<!--      <inputKey value="8ca35167-ea59-45a1-a63e-779f2c3bc807" />-->
<!--      <tag value="log4net" />-->
<!--      <filter type="log4net.Filter.LevelRangeFilter">-->
<!--        <param name="LevelMin" value="INFO" />-->
<!--        <param name="LevelMax" value="ERROR" />-->
<!--      </filter>-->
<!--    </appender>-->
    <appender name="VerboseLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\CloudPlusLogs\NotificationService\Verbose\NotificationServiceVerboseLog_" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="irhadba@maestralsolutions.com" />
      <from value="vdmistral@gmail.com" />
      <subject value="Fatal Error In Notification Service Occurred, Attention Required!" />
      <smtpHost value="smtp.sendgrid.net" />
      <authentication value="Basic" />
      <username value="apikey" />
      <EnableSsl value="false" />
      <port value="587" />
      <password value="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" />
      <bufferSize value="1" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="FATAL" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
<!--      <appender-ref ref="LogglyAppender" />-->
      <appender-ref ref="LogAppender" />
      <appender-ref ref="VerboseLogAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.96" newVersion="1.2.0.96" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.17" newVersion="3.0.1.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.12.75" newVersion="3.5.12.75" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>