$font-family: 'Open Sans';

$font-size: 1rem;
$primary-font-size: 0.93rem;
$secondary-font-size: 0.875rem;
$small-font-size: 0.75rem;
$big-font-size: 1.25rem;
$notification-font-size: 10px;

$input-fields-height: 2.4rem;
$menu-width: 15rem;
$scrollbar-width: 8px;
$sticky-header-height: 4.4rem;
$tr-height: 4rem;

$border-height: 0.0625rem;
$border-radius: 0.3125rem;

$label-color: rgba(65, 79, 100, 1);
$subtitle-color: rgba(65, 79, 100, 0.6);
$icon-color: #54667a;
$notification-color: #ff2b71;
$danger-color: #ff3860;
$confirmation-color: #51af21;
$border-color: #dbdbdb;

$size-small: 0.75rem;
$size-medium: 1rem;
$size-large: 1.25rem;
