<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CloudPlusAuthDb" connectionString="server=VMROOT002STG4.cloudplusservices.stg;database=CloudPlusAuth;User Id=cloudplusv2; password=DhK6t7D49mVXjM3r;" providerName="System.Data.SqlClient" />
    <add name="CloudPlusDb" connectionString="server=VMROOT002STG4.cloudplusservices.stg;database=CloudPlusDb;User Id=cloudplusv2; password=DhK6t7D49mVXjM3r; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Mutable-->
    <add key="RabbitMqUri" value="rabbitmq://localhost:5672/" />
    <add key="RabbitMqUsername" value="guest" />
    <add key="RabbitMqPassword" value="guest" />
    <!--<add key="Office365.ApplicationId" value="c6f51b89-4cd7-4b2e-8fd2-77cbfa344dc9" />
    <add key="Office365.ApplicationSecret" value="KbdumeRkdiuQhuxo/nf9JYWQZCuAn6zIDXtsXULXzTE=" />-->

    <add key="Office365.ApplicationId" value="1d2acaee-1f75-4deb-a422-0ff26cf9d47a" />
    <add key="Office365.ApplicationSecret" value="4di+wu9MuylfX21lGST0Z/uGuYCGiTZ3Ul5IyJXFFsg=" />

    <!--<add key="Office365.Domain" value="cloudplusmsft.onmicrosoft.com" />-->
    <add key="Office365.Domain" value="cloudplusmsft.onmicrosoft.com" />

    <add key="Office365.AuthenticationAuthorityEndpoint" value="https://login.windows.net" />
    <add key="Office365.GraphEndpoint" value="https://graph.windows.net" />
    <add key="Office365.CommonDomain" value="common" />
    <add key="Office365.UserName" value="api@cloudplusmsft.onmicrosoft.com" />
    <!--<add key="Office365.Password" value="Test123!" />-->
    <add key="Office365.Password" value="uxkjm.65rufJJ" />
    <add key="Office365.ResourceUrl" value="https://api.partnercenter.microsoft.com" />
    <!--<add key="Office365TempPassword" value="C0mpl!cat3d" />-->
    <add key="Office365TempPassword" value="uxkjm.65rufJJ" />
    
    <add key="CloudPlus.Office365ApiEndpoint" value="http://192.168.73.152:5590/" />
    <add key="CloudPlusSupportEmail" value="stagingsupport@cloudplus.net" />
    <add key="CloudPlusEngineeringEmail" value="stagingeng@cloudplus.net" />
    <!--End of mutable values-->

    <!--Office365 Config-->
    <add key="Office365Api.AddCustomerDomain" value="addcustomerdomain" />
    <add key="Office365Api.GetDomainTxtRecord" value="getdomaintxtrecord" />
    <add key="Office365Api.VerifyCustomerDomain" value="verifycustomerdomain" />
    <add key="Office365Api.SetUserImmutableId" value="setuserimmutableid" />
    <add key="Office365Api.FederateCustomerDomain" value="federatecustomerdomain" />
    <add key="Office365Api.RemoveCustomerDomain" value="removecustomerdomain" />
    <add key="Office365Api.GetCustomerIdByDomain" value="Customers/GetCustomerIdByDomain" />
    <add key="Office365Api.IsDomainVerified" value="domainutilities/isdomainverified" />
    <add key="Office365Api.IsDomainFederated" value="domainutilities/isdomainfederated" />
    <add key="Office365Api.Users" value="users" />
    <add key="Office365Api.AssignUserRoles" value="users/roles" />
    <add key="Office365Api.GetUserRoles" value="users/GetRoles" />
    <add key="Office365Api.RemoveUserRoles" value="users/RemoveRoles" />
    <add key="Office365Api.UserHardDelete" value="HardDeleteUser" />
    <!--CloudPlus Config-->
    <add key="RetryAttempts" value="30" />
  </appSettings>
  <log4net>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\CloudPlusLogs\DEVOffice365Service\DEVOffice365ServiceLog_" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%thread] [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <!--    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">-->
    <!--      <rootUrl value="https://logs-01.loggly.com/" />-->
    <!--      <inputKey value="8ca35167-ea59-45a1-a63e-779f2c3bc807" />-->
    <!--      <tag value="log4net" />-->
    <!--      <filter type="log4net.Filter.LevelRangeFilter">-->
    <!--        <param name="LevelMin" value="INFO" />-->
    <!--        <param name="LevelMax" value="ERROR" />-->
    <!--      </filter>-->
    <!--    </appender>-->
    <appender name="VerboseLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\CloudPlusLogs\DEVOffice365Service\Verbose\DEVOffice365ServiceVerboseLog_" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%thread] [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%thread] [%-5level] - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="irhadba@maestralsolutions.com" />
      <from value="vdmistral@gmail.com" />
      <subject value="Fatal Error In Office 365 Service Occurred, Attention Required" />
      <smtpHost value="smtp.sendgrid.net" />
      <authentication value="Basic" />
      <username value="apikey" />
      <EnableSsl value="false" />
      <port value="587" />
      <password value="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" />
      <bufferSize value="1" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="FATAL" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <!--      <appender-ref ref="LogglyAppender" />-->
      <appender-ref ref="LogAppender" />
      <appender-ref ref="VerboseLogAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.96" newVersion="1.2.0.96" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.17" newVersion="3.0.1.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.12.75" newVersion="3.5.12.75" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <interceptors>
      <interceptor type="CloudPlus.Database.Common.Interceptors.DeleteInterceptor, CloudPlus.Database.Common"></interceptor>
      <interceptor type="CloudPlus.Database.Common.Interceptors.AddUpdateInterceptor, CloudPlus.Database.Common"></interceptor>
    </interceptors>
  </entityFramework>
</configuration>
