<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4 is-narrow card-container">
                    <div class="card">
                        <div class="card-content">
                            <div class="title">ERROR</div>
                            <div ng-show="model.errorMessage">{{model.errorMessage}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

