
.forgot-password-content {
    background-color: #E7E2D8;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 2%;
}

.title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #808285;
}

.form-group label {
    color: #C26558;
    font-size: 11px;
}

.form-group a {
    color: #C26558;
    font-size: 11px;
}

.form-group input {
    background-color: #B6B6AB;
}

.form-group button {
    background-color: #C26558;
    border: none;
}

.glyphicon-user {
    font-size: 40px;
}

.forgot-password-icon {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 0 30px 0;
}

.glyphicon-lock {
    font-size: 40px;
}

.nopadding {
    padding: 0;
}
